.gradle
.classpath
.project
.cache
.settings
output
!output/.gitkeep
build
Crecer.git.prj

# project folders
bin
Libs
Screenshot/
Reports/
settings
Drivers/
Data Files/
Test Data/Datos conexion BD.xlsx
Test Data/Compensacion Coelsa.xlsx